<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testDifferentCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB3A188D1D63FF9E0029CA36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB3A18A61D63FF9E0029CA36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB3A18B11D63FF9E0029CA36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
